:root {
    --marron_claro:  #c1b49a;
    --marron_medio: #9a8479;
    --marron_oscuro: #8a5d3b;
    --naranja: #faaf40;
    --blanco: #fff;
}

* {
	font-family: 'Alegreya Sans', sans-serif;
    box-sizing: content-box;
}

body {
    padding: 0;
    margin: 0;
    text-align: center;
    background: var(--blanco);
    display: block;
}

a {
	font-size: 1.5em;
    color: var(--naranja);
	font-style: italic;
}
p {
	font-size: 1.1em;
}

.logo img {
    max-width: 85%;
    margin: 0 auto;
}
.ico {
    max-width: 20%;
    margin: 0 auto;
}

.pie,
.cabecera {
    width: 100%;
    height: 100px;
    display: block;
    background-position: center;
	background-size: auto 100%;
}
.cabecera {
    background-image: url("../img/fondo.jpg");
}
.pie {
    background-image: url("../img/fondo_pie.jpg");
}

.apoyatura {
    width: 70%;
}

.fila {
    padding: 2%;
	width: 96%;
    display: block;
	align-items: center;
}
.fila.flex {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-grow: 4;
    justify-content: space-around;
}

.columna {
    padding: 1%;
    display: flex;
	flex-flow: column wrap;
	min-width: 100px;
	align-self: center;
}

.col_a {
    flex-grow: 5;
    width: 28%;
}
.col_b {
    flex-grow: 10;
    width: 35%;
}

.visor_pdf {
    display: flex;
    justify-content: center;
    padding: 2%;
	text-align: center;
}
.visor_pdf iframe {
    width: 60%;
	height: 900px;
}

.text-marron_claro {
    color: var(--marron_claro);
}
.text-marron_medio {
    color: var(--marron_medio);
}
.text-marron_oscuro {
    color: var(--marron_oscuro);
}
.text-naranja {
    color: var(--naranja);
}
