:root {
    --marron_claro_2: #ebe0ca;
    --marron_claro: #c1b49a;
    --marron_medio: #9a8479;
    --marron_oscuro: #8a5d3b;
    --naranja: #faaf40;
    --blanco: #fff;
}

* {
	font-family: 'Alegreya Sans', sans-serif;
    box-sizing: content-box;
}

body {
    padding: 0;
    margin: 0;
    text-align: center;
    background: var(--blanco);
    display: block;
}

a {
	font-size: 1.5em;
    color: var(--naranja);
	font-style: italic;
}
p {
	font-size: 1em;
}
p.des {
	font-size: 1.1em;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.5em;
	font-weight: 900;
	line-height: .7em;
	margin-bottom: 15px;
    color: var(--naranja);
}
h3 {
	font-size: 1.5em;
	line-height: 1em;
	font-weight: 400;
    color: var(--marron_medio);
}
.logo img {
    max-width: 85%;
    margin: 0 auto;
}
.ico {
    max-width: 20%;
    margin: 0 auto;
}

.pie,
.cabecera {
    width: 100%;
    height: 100px;
    display: block;
    background-position: center;
	background-size: auto 100%;
}
.cabecera {
    background-image: url("../img/fondo_pie.jpg");
}
.pie {
    background-image: url("../img/fondo.jpg");
}
.apoyatura {
    width: 70%;
}

.fila#enlaces {
	align-items: center;
}

.col_a {
    flex-grow: 10;
    width: 28%;
}
.col_b {
    flex-grow: 5;
    width: 35%;
}

.fila.flex {
    display: flex;
}
.contenedor {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.producto {
    padding: 0 1%;
    text-align: left;
    width: 25%;
	height: min-content;
	background-color:var(--marron_claro_2);
	margin: 1%;
	flex-grow: 1;
	align-self: stretch;
}
.producto a {
	font-size:1em;
}
.producto a:hover {
	background-color:var(--naranja);
}
.producto .ico {
    width: 8%;
    margin: 0;
	padding: 0 0 1% 0;
	vertical-align:middle;
}
.producto .foto {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}


ul, li {
    padding: 0;
    margin: 0;
    list-style: none inside;
    background-color:rgb(255,255,255,.8);
}
ul.menu_bt {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
ul.menu_bt li {
    padding:3px 10px;
    background:var(--blanco);
    display:flex;
    flex-grow:1;
    flex-wrap:wrap;
	border-right:1px solid var(--marron_oscuro);
	border-bottom:1px solid var(--marron_oscuro);
}


.menu_prod input[type="checkbox"], 
.menu_prod .fa-bars {
	margin: 0;
	padding: 3px;
	right: 0;
	bottom: 0;
	width: 48px;
	height: 48px;
	position: fixed;
	border: none;
	background:var(--marron_oscuro);
	opacity: 1;
}

.menu_prod .fa-bars {
	pointer-events: none;
    font-size:3em;
}
.menu_prod i.fa-bars:before {
	content:'+';
}

.menu_prod {
	position: relative;
	min-height: 48px;
}
.menu_prod nav {
	display: none;
}
.menu_prod input:hover {
	cursor:pointer;
}
.menu_prod input:checked ~ nav {
	display:block;
    position:fixed;
	right: 0;
    bottom:54px;
	max-width:20vw;
}
.menu_prod nav a {
    font-size:1em;
    text-decoration:none;
    color:var(--marron_oscuro);
    flex-grow: 1;
    text-align: center;
}
.menu_prod nav a.bt_ini {
    text-decoration:underline;
    color:var(--naranja);
}
.menu_prod nav a:hover {
    color:var(--naranja);
	cursor:pointer;
}


.link_ig {
	left: 0;
	bottom: 0;
	position: fixed;
	border: none;
	opacity: 1;
	background:var(--blanco);
	text-align:left;
	display: grid;
    display: inline-table;
}
.link_ig img {
    max-width: 10%;
    vertical-align: middle;
}
.link_ig a {
	font-size: 1.5em;
	display: table-cell; 
    color:var(--marron_medio);
}
.link_ig a:hover {
    color:var(--naranja);
}
