
* {
	font-family: 'Sofia Sans Condensed', sans-serif;
    box-sizing: content-box;
	
}

body {
    padding:0;
    margin:0;
    text-align:center;
    background:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    min-height: 100px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background: inherit;
}

#logo {
    max-width: 80%;
    margin: 0 auto;
}

#logo_cabecera {
    max-width: 90%;
    margin: 0 auto;
}

#content {
    padding:5%;
    display:flex;
    flex-direction:column;
}

#content img {
    margin: 5%;
}

.marron_claro {
    color:c1b49a;
}
.marron_medio {
    color:9a8479;
}
.marron_oscuro {
    color:8a5d3b;
}
.naranja {
    color:faaf40;
}

